html{
	background-color: #fff;
}
#head{
	width: 100%;
}
#head .upper li:hover{
	background-color: #ccc;
}
#head .upper{
height: 4vw;
}
a{
	text-decoration: none;
}

#head .upper ul{
	/*background-color: #000;*/
}
#head .upper ul li{
	padding: 5pt;
	display: inline;
	margin: 15pt;
	font-weight: bolder;
}
#head .upper ul li img{
	width: 2vw;
	height: 1vw;

}

.upper .right{
	margin-right: 3vw;
	float: right;
	margin-top: 4vw;
}
.upper .lft{
	float: left;
}
.lower{
	height: 195pt;
	width: 100%;
	background-color: blue;
	color: #fff;
	/*margin-top: 10pt;*/
}
article, footer{
	color: #fff;
}
footer{
	background-color: #21f;
	height: 10pt;

}
.disc{
	margin-left: 5vw;
	float: left;
	/*background-color: #577;*/
}
.link{
	margin-right: 10vw;
	float: right;
}
.link a{
	border-style: solid 2px white;
}
.link a{
	font-size: 19pt;
	margin: 5pt;
	color: white;
	width: 22vw;
	border: white;

}
.link img{
	width: 8vw;
	height: 3vw;
}
pre{
	font-family: Times New Roman;
	font-size: 10pt;
}
#cont{
	background-color: #fccddd;
	height: 19vw;
}
#cont .contMenu{

}
#cont .contMenu li{
	display: inline;
	font-size: 16pt;
	padding: 10pt;

}
#foot{
	background-color: #122112;
	height: 5vw;
	text-align: center;
	color: white;
	padding-top: 1vw;
}
.md{
	background-color: #4599ff;
	height: 4vw;
	color: #fff;
	font-weight: bolder;
	margin: 0vw;
}
#frm{
	margin: 15vw 30vw;
	padding: 5vw;
	background-color: #98746f;
	text-align: center;
	border-radius: 2vw;
}